body {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/color-umbrella.jpg') center/cover fixed no-repeat;
}

@media screen and (max-width:768px) {
    .body {
        background: url('../images/color-umbrella.jpg') center cover no-repeat;
    }
}

/*############################## Navbar ##############################*/

nav {
    position: absolute;
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
    text-decoration: none !important;
    letter-spacing: 2px;
}

.navbar-logo img {
    height: 4rem;
}

.color-container {
    margin-top: 6rem;
}

#btn {
    display: block;
    margin: auto;
    width: 80%;
    text-align: center;
}

.theButton {
    height: 55px;
    width: 160px;
    border-radius: 8px;
    margin: 0 4px 0 4px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-family: dosis;
    font-size: .7rem;
    padding: 1em 2em 1em 2em;
    border: solid 2px #fff;
    /* border used to stop jump when border is applied*/
    display: inline-block;
    vertical-align: bottom;
    transition: all .2s ease-in-out;
}

.theButton:hover {
    transform: scale(1.1);
}

.rgbButton {
    width: 70%;
}

.hexButton {
    width: 70%;
}

#hexConvert {
    width: 40%;
    text-align: center;
}

#rgbPaste {
    width: 40%;
    text-align: center;
}

h1 {
    color: #fff;
    margin-top: 2rem;
}

/* Pink RGB Colors */

.pink:nth-of-type(1) {
    background-color: rgb(255, 192, 203);
    color: black;
}

.pink:nth-of-type(2) {
    background-color: rgb(255, 182, 193);
    color: black;
}

.pink:nth-of-type(3) {
    background-color: rgb(255, 105, 180);
}

.pink:nth-of-type(4) {
    background-color: rgb(255, 20, 147);
}

.pink:nth-of-type(5) {
    background-color: rgb(219, 112, 147);
}

.pink:nth-of-type(6) {
    background-color: rgb(199, 21, 133);
}

.pink:nth-of-type(7) {
    background-color: rgb(205, 140, 149);
}

.pink:nth-of-type(8) {
    background-color: rgb(139, 58, 98);
}

/* Red RGB Colors */

.red:nth-of-type(1) {
    background-color: rgb(139, 0, 0);
}

.red:nth-of-type(2) {
    background-color: rgb(255, 0, 0);
}

.red:nth-of-type(3) {
    background-color: rgb(178, 34, 34);
}

.red:nth-of-type(4) {
    background-color: rgb(220, 20, 60);
}

.red:nth-of-type(5) {
    background-color: rgb(205, 92, 92);
}

.red:nth-of-type(6) {
    background-color: rgb(240, 128, 128);
}

.red:nth-of-type(7) {
    background-color: rgb(255, 48, 48);
}

.red:nth-of-type(8) {
    background-color: rgb(238, 99, 99);
}

/* Purple RGB Colors */

.purple:nth-of-type(1) {
    background-color: rgb(128, 0, 128);
}

.purple:nth-of-type(2) {
    background-color: rgb(224, 102, 255);
}

.purple:nth-of-type(3) {
    background-color: rgb(122, 55, 139);
}

.purple:nth-of-type(4) {
    background-color: rgb(75, 0, 130);
}

.purple:nth-of-type(5) {
    background-color: rgb(138, 43, 226);
}

.purple:nth-of-type(6) {
    background-color: rgb(159, 121, 238);
}

.purple:nth-of-type(7) {
    background-color: rgb(93, 71, 139);
}

.purple:nth-of-type(8) {
    background-color: rgb(230, 230, 250);
    color: black;
}

/* Blue RGB Colors */

.blue:nth-of-type(1) {
    background-color: rgb(0, 0, 255);
}

.blue:nth-of-type(2) {
    background-color: rgb(176, 224, 230);
    color: black;
}

.blue:nth-of-type(3) {
    background-color: rgb(173, 216, 230);
    color: black;
}

.blue:nth-of-type(4) {
    background-color: rgb(135, 206, 250);
}

.blue:nth-of-type(5) {
    background-color: rgb(135, 206, 235);
}

.blue:nth-of-type(6) {
    background-color: rgb(0, 191, 255);
}

.blue:nth-of-type(7) {
    background-color: rgb(30, 144, 255);
}

.blue:nth-of-type(8) {
    background-color: rgb(65, 105, 225);
}

/* Green RGB Colors */

.green:nth-of-type(1) {
    background-color: rgb(0, 128, 0);
}

.green:nth-of-type(2) {
    background-color: rgb(50, 205, 50);
}

.green:nth-of-type(3) {
    background-color: rgb(0, 255, 0);
    color: black;
}

.green:nth-of-type(4) {
    background-color: rgb(34, 139, 34);
}

.green:nth-of-type(5) {
    background-color: rgb(0, 255, 127);
    color: black;
}

.green:nth-of-type(6) {
    background-color: rgb(144, 238, 144);
    color: black;
}

.green:nth-of-type(7) {
    background-color: rgb(46, 139, 87);
}

.green:nth-of-type(8) {
    background-color: rgb(85, 107, 47);
}

/* Yellow RGB Colors */

.yellow:nth-of-type(1) {
    background-color: rgb(255, 255, 224);
    color: black;
}

.yellow:nth-of-type(2) {
    background-color: rgb(255, 255, 0);
    color: black;
}

.yellow:nth-of-type(3) {
    background-color: rgb(238, 238, 0);
    color: black;
}

.yellow:nth-of-type(4) {
    background-color: rgb(205, 205, 0);
    color: black;
}

.yellow:nth-of-type(5) {
    background-color: rgb( 139, 139, 0);
    ;
}

.yellow:nth-of-type(6) {
    background-color: rgb(189, 183, 107);
}

.yellow:nth-of-type(7) {
    background-color: rgb(189, 183, 107);
}

.yellow:nth-of-type(8) {
    background-color: rgb(238, 230, 133);
    color: black;
}

/* Orange RGB Colors */

.orange:nth-of-type(1) {
    background-color: rgb(218, 165, 32);
}

.orange:nth-of-type(2) {
    background-color: rgb(255, 193, 37);
}

.orange:nth-of-type(3) {
    background-color: rgb( 255, 165, 0);
}

.orange:nth-of-type(4) {
    background-color: rgb(205, 133, 0);
}

.orange:nth-of-type(5) {
    background-color: rgb(237, 145, 33);
}

.orange:nth-of-type(6) {
    background-color: rgb(238, 118, 0);
}

.orange:nth-of-type(7) {
    background-color: rgb(255, 165, 79);
}

.orange:nth-of-type(8) {
    background-color: rgb(139, 90, 43);
}

/* Grey RGB Colors */

.grey:nth-of-type(1) {
    background-color: rgb(0, 0, 0);
    color: white;
}

.grey:nth-of-type(2) {
    background-color: rgb(105, 105, 105);
    color: black;
}

.grey:nth-of-type(3) {
    background-color: rgb(128, 128, 128);
    color: black;
}

.grey:nth-of-type(4) {
    background-color: rgb(169, 169, 169);
}

.grey:nth-of-type(5) {
    background-color: white;
}

.grey:nth-of-type(6) {
    background-color: rgb(211, 211, 211);
}

.grey:nth-of-type(7) {
    background-color: rgb(220, 220, 220);
}

.grey:nth-of-type(8) {
    background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 430px) {
    .superButton {
        height: 60px;
        width: 50%;
        font-size: 1em;
    }
    .theButton {
        height: 25px;
        width: 40px;
        margin: 0 1px 0 1px;
        font-size: 3px;
        padding-top: 2em;
    }
    #btn {
        font-size: .6rem;
    }
    #hexConvert {
        width: 100%;
        text-align: center;
        font-size: .6rem;
    }
    #rgbPaste {
        width: 100%;
        text-align: center;
        font-size: .6rem;
    }
}